<!DOCTYPE html>
<html>

    <head>
    <meta charset="utf-8">
    <base href="/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Competency Dashboard</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <meta name="msapplication-TileColor" content="#3372DF">
    
    <script src="../vendor/angularjs/angular-1.6.9.min.js"></script>
    <script src="../vendor/angularjs/angular-route-1.6.7.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="vendor/materialize/css/materialize.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />

    <script src="vendor/materialize/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <!-- Dashboard Links Start-->
    
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

	<!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
	    crossorigin="anonymous"></script> -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link href="./stylesheets/dashboard.css" rel="stylesheet" type="text/css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    <!-- Dashboard Links End-->

    <script src="../javascripts/ang.js"></script>
    </head>

    <body data-ng-app="angularApp">
        <nav class="nav-bkgclr">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Competency Dashboard</a>
                <ul class="right hide-on-med-and-down">
                    <li class="black-text text-lighten-3"><a href="/">Home</a></li>            
                    <li class="black-text text-lighten-3"><a href="/reports">Search Data</a></li>    
                    <li class="black-text text-lighten-3"><a href="/upload">Upload Data</a></li>
                </ul>
            </div>
        </nav>          
        <main>
            <div ng-view=""></div>
        </main>
        <script src="../javascripts/upload-controller.js"></script>	
        <script src="../javascripts/reports-controller.js"></script>	
        <script src="../javascripts/dashboard-controller.js"></script>	
        <script src="../javascripts/angular-factories.js"></script>
        <script src="../vendor/xlsx/xlsx.full.min.js"></script>
    </body>

</html>