.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  .gridStyle{
      box-shadow: -6px 9px 13px 2px rgb(165,165,165);
      background-color: rgb(239,239,239);
      padding: 1%;
  }
  .AssociateCount{
       font-size:  40px;
      font-weight: bold;
      color: rgb(0,145,129);
  }
  .TrainingTitle{
      font-weight: 400;
      color: rgb(0,145,129);
      
  }