.nav-bkgclr {
    background-color: #357e73 !important;
}

.nav-logo-style {
    font-size: 2.1rem;
}

.nav-menu-style {
    font-size: 1.1rem;
}

.nav-mobile-style {
    background-color: #357e73;
    font-size: 1.4rem;
}

@media only screen and (max-width: 645px) {
    .nav-logo-style {
        font-size: 1.1rem !important;
        font-weight: 400;
    } 
}