<div class="card-content">
    <div class="center light-blue-text">
        <span>
            <img ng-src="./images/{{compInfo.comp.split(': ')[1] || compInfo.comp.split(': ')[0]}}.png" alt="{{compInfo.comp.split(': ')[1] || compInfo.comp.split(': ')[0]}}" style="height:60px;">
        </span>
    </div>
    <span class="card-title">
        <span class="AssociateCount">{{compInfo.total}} </span>
        <span class="TrainingTitle--Mid">Associates Trained on </span>
        <span class="TrainingTitle">{{compInfo.comp.split(': ')[1] || compInfo.comp.split(': ')[0]}}</span>
    </span>
    <div class="row" ng-if="compInfo.type !== 'Training'">
        <div class="col s6 center">
            <ul>
                <li><a href="/reports/comp/{{compInfo.group}}/{{compInfo.comp}}/level/E0">E0</a> - {{compInfo.E0 || 0}}</li>
                <li><a href="/reports/comp/{{compInfo.group}}/{{compInfo.comp}}/level/E1">E1</a> - {{compInfo.E1 || 0}}</li>
            </ul>
        </div>
        <div class="col s6">
            <ul>
                <li><a href="/reports/comp/{{compInfo.group}}/{{compInfo.comp}}/level/E2">E2</a> - {{compInfo.E2 || 0}}</li>
                <li><a href="/reports/comp/{{compInfo.group}}/{{compInfo.comp}}/level/E3">E3</a> - {{compInfo.E3 || 0}}</li>
            </ul>
        </div>
    </div>
    <a href="/reports/train/{{compInfo.comp}}" ng-if="compInfo.type !== undefined && compInfo.type === 'Training'" class="btn-floating halfway-fab waves-effect waves-light teak">
        <i class="material-icons">list</i>
    </a>
</div>