<div>
	<div loading ng-show="showLoader">
		<div class="spinner-layer spinner-green">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>

<div ng-show="!showLoader">
	<div class="container-fluid">
		<div class="row headerRow">
			<div class="col-sm-1">
				<div class="verticaltext">FY18</div>
			</div>
			<div class="col-sm-9 ">
				<div class="row headerLS">
					LS ACADEMY
				</div>
				<div class="row SecondHeader">
					<strong>2017</strong> YEAR IN REVIEW
				</div>
			</div>
			<div class="col-sm-2">
				<image class="image" src="./images/Capture.PNG">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7 outer paddingLeft">
				<div class="row gridStyle">
					<p class="text1"> 5000+</p>
					<p class="text2">ASSOCIATES TRAINED</P>
					<ul style="color: rgb(0,145,129);">
						<li>Various trainings on pharma & medical science</li>
						<li>Advanced trainings on niche products</li>
						<li>Sessions on new age technologies</li>
					</ul>
					<image class="image1" src="./images/Capture1.PNG">
				</div>
			</div>
			<div class="col-sm-5 outer paddingRight">
				<div class="row gridStyle">
					<p class="text3">
						<b style="font-size:3em;padding-top:0px;">90+</b>
						<div class="domain">DOMAIN TRAINING SESSIONS
							<ul class="domainUl">
								<li> INSTRUCTOR LED</li>
								<li> PHARMA BASED</li>
								<li> WEBINAR</li>
							</ul>
						</div>
					</p>

					<image class="image2" src="./images/Capture2.PNG">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 outer paddingLeft">
				<div class="row gridStyle">
					<p class="text4">
						<b style="font-size:4em;padding-top:0px;padding-left: 21%;">400+</b>
						<br>
						<div class="block3 text4"> ASSOCIATES TRAINED ON
							<strong class="niche">
								NICHE PHARMA PRODUCTS
							</strong>
						</div>
						<ul class="text4">
							<li> INTERNAL TRAININGS</li>
							<li> VENDOR TRAINING & CERTIFICATIONS</li>
							<li> WEBINAR</li>
						</ul>
					</p>
					<image class="image3" src="./images/Capture3.PNG">
				</div>
			</div>
			<div class="col-sm-4 outer">
				<div class="row gridStyle">
					<p class="text5">
						<b style="font-size:4.5em;padding-top:0px;padding-left: 21%;">75+</b>
						<br>
						<div class="block4 text5"> TRAININGS</br>
							<strong class="basic">
								BASIC</strong>
							LEVEL
						</div>
						<ul class="text5">
							<li> INSTRUCTOR LED SESSIONS</li>
							<li> VENDOR TRAINING & CERTIFICATIONS</li>
							<li> WEBINARS/CLASSROOM SESSIONS</li>
							<li> VENDOR TRAINING & CERTIFICATIONS</li>

						</ul>
					</p>
					<image class="image4" src="./images/Capture4.PNG">
				</div>
			</div>
			<div class="col-sm-4 outer paddingRight">
				<div class="row gridStyle">
					<p class="text6">
						<b style="font-size:4.5em;padding-top:0px;padding-left: 21%;">15+</b>
						<br>
						<div class="block4 text6"> SESSIONS</br>
							<strong class="basic">
								ADVANCED</strong>
							LEVEL TRAINING
						</div>
						<ul class="text6">
							<li> INSTRUCTOR LED SESSIONS</li>
							<li> VENDOR TRAINING & CERTIFICATIONS</li>
							<li> WEBINARS/CLASSROOM SESSIONS</li>

						</ul>
					</p>
					<image class="image5" src="./images/Capture5.PNG">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 outer paddingLeft">
				<div class="row gridStyle">
					<p class="text7">
						<b style="font-size:4.5em;padding-top:0px;padding-left: 21%;">45+</b>
						<br>
						<div class="block4 text7">
							<strong class="basic"> SUBJECT</br> MATTER</br>
								EXPERTS</br>(Presenters)</strong>
						</div>

					</p>
					<image class="image6" src="./images/Capture6.PNG">
				</div>
			</div>
			<div class="col-sm-4 outer">
				<div class="row gridStyle">
					<p class="text8">
						<b style="font-size:4.5em;padding-top:0px;padding-left: 21%;">40+</b>
						<br>
						<div class="block4 text8">
							<strong class="topic">TOPICS</strong>
						</div>
						<ul class="text8">
							<li> INSTRUCTOR LED SESSIONS</li>
							<li> VENDOR TRAINING & CERTIFICATIONS</li>
							<li> WEBINARS/CLASSROOM SESSIONS</li>
							<li> WEBINARS/CLASSROOM SESSIONS</li>

						</ul>
					</p>
					<image class="image7" src="./images/Capture7.PNG">
				</div>
			</div>
			<div class="col-sm-4 outer paddingRight">
				<div class="row gridStyle">
					<p class="text9">
						<b style="font-size:4em;padding-top:0px;padding-left: 21%;">100+</b>
						<br>
						<div class="block3 text9 "> ASSOCIATES </br>TRAINED ON
							<strong class="niche">
								ADVANCED LEVEL
							</strong>
						</div>
						<ul class="text9">
							<li> INTERNAL TRAININGS</li>
							<li> VENDOR TRAINING & CERTIFICATIONS</li>
							<li> WEBINAR</li>
						</ul>
					</p>
					<image class="image8" src="./images/Capture8.PNG">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 outer paddingLeft">
				<div class="row gridStyle">
					<p class="text10">
						<b style="font-size:4.5em;padding-top:0px;padding-left: 21%;">30+</b>
						<br>
						<div class="block4 text10">
							<strong class="topic">BLOGS</strong>
						</div>
						<ul class="text10">
							<li> INSTRUCTOR LED SESSIONS</li>
							<li> VENDOR TRAINING & CERTIFICATIONS</li>
							<li> WEBINARS/CLASSROOM SESSIONS</li>
							<li> WEBINARS/CLASSROOM SESSIONS</li>

						</ul>
					</p>
					<image class="image9" src="./images/Capture9.PNG">
				</div>
			</div>
			<div class="col-sm-7 outer paddingRight">
				<div class="row gridStyle">
					<image class="image10" src="./images/Capture10.PNG">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 outer paddingLeft">
				<div class="row ">
					<div class="col-sm-6 gridStyle">
					</div>
					<div class="col-sm-6 gridStyle">
					</div>
				</div>
			</div>
			<div class="col-sm-7 outer paddingRight">
				<div class="row ">

					<div class="col-sm-8 gridStyle">
					</div>
					<div class="col-sm-4 gridStyle">
					</div>
				</div>
			</div>
		</div>
		<div class="row gridStyleFooter">
		</div>
	</div>
</div>