<div>
	<div loading ng-show="showLoader">
		<div class="spinner-layer spinner-green">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>

<div ng-show="!showLoader" ng-cloak>
	<!--main content-->
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 m6 l6">
					<div class="switch">
						<label class="flow-text">
							Training
							<input type="checkbox" ng-model="isDashComp" ng-checked="true" ng-disabled="showLoader === true">
							<span class="lever"></span>
							Competency
						</label>
					</div>
				</div>
				<div class="input-field col s12 m6 l6" ng-show="dashboardType === 'Competency'">	
					<select multiple id="ddlCompOptions" ng-model="selectedList" ng-options="c.comp_name group by c.comp_group for c in competencyList.data.records track by c.comp_name" >
						<option value="" disabled>-- Select List--</option>		
					</select>
					<label class="flow-text">{{dashboardType}}</label>				  
				</div>
				<div class="input-field col s12 m6 l6" ng-show="dashboardType !== 'Competency'">
					<select multiple id="ddlTrainOptions" ng-model="selectedListTraining" ng-options="c.training_name for c in trainingList.data.records track by c.training_name" >
						<option value="" disabled>-- Select List--</option>		
					</select>
					<label class="flow-text">{{dashboardType}}</label>
				</div>
			</div>
			<div ng-if="dashboardType === 'Competency'">
				<div class="row">
					<div class="col s12 m4" id="competencyGrids" ng-repeat="item in selectedList track by $index">
						<div class="card gridStyle minHeight">
							<comp-details comp-info="competencyDetail[item.comp_name]" ng-if="competencyDetail[item.comp_name] !== undefined"></comp-details>
							<comp-details comp-info="{ comp: item.comp_name, total: 0 }" ng-if="competencyDetail[item.comp_name] === undefined"></comp-details>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="dashboardType === 'Training'">
				<div class="row">				
					<div class="col s12 m4" ng-repeat="item in selectedListTraining track by $index">
						<div class="card gridStyle minHeight">
							<div class="card-content">
									<comp-details comp-info="trainingDetail[item.training_name]" ng-if="trainingDetail[item.training_name] !== undefined"></comp-details>
									<comp-details comp-info="{ comp: item.training_name, total: 0 }" ng-if="trainingDetail[item.training_name] === undefined"></comp-details>
							</div>
						</div>
					</div>				
				</div>				
			</div>
		</div>
	</div>
</div>