<div class="container">
  <br>

    <div id="tabsearch" class="col s12">
     <div>
      <div class="row" style="
      margin: 0;
      padding: 0;
  " >
        <div class="input-field col s12 m6 l6"  style="
        margin: 0;
        padding: 0;
    ">
          <div  class="input-field col s12 m6 l6" >
              <input id="startDate" ng-model="StartDate" type="date" class="datepicker" />
              <label for="txtstartDate">  Start Date </label>
          </div>
          <div class="input-field col s12 m6 l6">
          <input id="endDate" ng-model="EndDate" type="date" class="datepicker" />
          <label for="txtendDate">  End Date </label>
        </div>
        </div>
        <div class="input-field col s12 m6 l6" ng-show="trainDisabled">	
            <select multiple id="ddlCompOptions" ng-model="selectedListComp" ng-options="c.comp_name group by c.comp_group for c in competencyList.data.records track by c.comp_name">
              <option value="" disabled>-- Select List--</option>		
            </select>
            <label class="flow-text">Competency</label>				  
        </div>
        <div class="input-field col s12 m6 l6" ng-show="compDisabled">
            <select multiple id="ddlTrainOptions" ng-model="selectedListTraining" ng-options="c.training_name for c in trainingList.data.records track by c.training_name">
              <option value="" disabled>-- Select List--</option>		
            </select>
            <label class="flow-text">Training</label>
          </div>
      </div>
      <div class="row report-row-style" style="
      margin: 0;
      padding: 0;
  ">   
          <div class="input-field col s12 m6 l6" style="
          margin: 0;
          padding: 0;
      ">
              <span class="teal-text">Search Type</span>
              <p>
                <label>
                    <input class="with-gap" name="rblSearchType" type="radio" value="Competency" ng-model="searchType"/>
                    <span>Competency</span>
                </label>
                <label>
                    <input class="with-gap" name="rblSearchType" type="radio" value="Training" ng-model="searchType"/>
                    <span>Training</span>
                </label>
              </p> 
            </div>         
            <div class="input-field col s12 m6 l6" ng-show="trainDisabled">            
                <select name="selectCompLevel" id="ddlAssetLocale" ng-model="selectedCompLevel"
                    ng-change="">
                <option value="" disabled selected>-- Select Competency Level --</option>
                <option value="E0" >E0</option>
                <option value="E1" >E1</option>
                <option value="E2" >E2</option>
                <option value="E3" >E3</option>
                <option value="E4" >E4</option>
                </select>
                <label for="selectCompLevel"> Competency Level </label>
            </div>   
      </div>
      <div class="row" style="
      margin: 0;
      padding: 0;
  ">
            <div class="input-field col s6">
              <!-- <div class="input-field col s3">    
              <p>
                    <label>
                      <input id="indeterminate-checkbox" type="checkbox" ng-model="SearchByText" />
                      <span>Search By Text</span>
                    </label>
                  </p>
                </div> -->
              <!-- <div class="input-field col s9">    -->
                <textarea ng-model="searchText" id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2"> Search By Employee Id</label>
                <!-- </div> -->
              </div>
              <div class="input-field col s6">
                  <input id="btnSearch" class="waves-effect waves-light btn" type="button" value="Search" ng-click="search()" />
                  <input id="btnReset" class="waves-effect waves-light btn" type="button" value="Reset" ng-click="resetForm()" />
                  <input id="btnexport" class="waves-effect waves-light btn" type="button" value="Export" ng-click="exportToExcel('#exportTable')" />
              </div>
         
        </div>
      
      </div>
      <div>
          <p class="flow-text" ng-show="showNoOfReckonertext" >{{searchResult.length}}  Record Found</p>
          <div class="progress" ng-show="showLoder" >
              <div class="indeterminate"></div>
          </div>
      <div class="divider"></div>
      <br>
      <div class="row" >
        <div class="col s12" id="exportTable">
          <table  class="responsive-table bordered" data-ng-if="searchResult.length > 0">
              <thead>
            <tr class="teal-text grey lighten-3">
              <th ng-repeat="columnName in tableHeaders track by $index">{{columnName}}</th>
            </tr>
            </thead>
            <tbody ng-if="searchType == 'Competency'">
            <tr ng-repeat="empComp in searchResult track by $index"  >
                <td><span class="dont-break-out" >{{ $index + 1 }}</span></td>
              <td><span class="dont-break-out" >{{empComp.employeeid}}</span></td>
              <td><span class="dont-break-out" >{{empComp.employeename}}</span></td>
              <td><span class="dont-break-out" >{{empComp.competencydate | date : " MMMM d, y" }}</span></td>
              <td><span class="dont-break-out" >{{empComp.competencyname}}</span></td>
              <td><span class="dont-break-out" >{{empComp.competencylevel}}</span></td>
              <td><span class="dont-break-out" >{{empComp.competencygroup}}</span></td> 
              <td><span class="dont-break-out" >{{empComp.createdby}}</span></td>
            </tr>
          </tbody>
        <tbody ng-if="searchType == 'Training'">
            <tr ng-repeat="empComp in searchResult track by $index"    >
                <td><span class="dont-break-out" >{{ $index + 1 }}</span></td>
              <td><span class="dont-break-out" >{{empComp.employeeid}}</span></td>
              <td><span class="dont-break-out" >{{empComp.employeename}}</span></td>
              <td><span class="dont-break-out" >{{empComp.trainingdate | date : " MMMM d, y" }}</span></td>
              <td><span class="dont-break-out" >{{empComp.trainingname}}</span></td>
              <td><span class="dont-break-out" >{{empComp.createdby}}</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>