<div class="container">
    <div id="tabsearch" class="col s12">
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <input id="txtEmpId" ng-model="enteredEmpId" type="text" class="validate" />
          <label for="txtEmpId">  Employee Id </label>
        </div>
        <div class="input-field col s12 m6 l6">            
            <select name="selectCompName" id="ddlCompName" ng-model="selectedComp" ng-options="c.comp_name for c in competencyList.data.records"
                ng-change="">
            <option value="" disabled selected>-- Select Competency --</option>
            </select>
            <label for="selectCompName"> Competency </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l6">            
            <select name="selectCompLevel" id="ddlAssetLocale" ng-model="selectedCompLevel"
                ng-change="">
            <option value="" disabled selected>-- Select Competency Level --</option>
            <option value="E0" >E0</option>
            <option value="E1" >E1</option>
            <option value="E2" >E2</option>
            <option value="E3" >E3</option>
            <option value="E4" >E4</option>
            </select>
            <label for="selectCompLevel"> Competency Level </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m10 m8">
          <input id="btnSearch" class="waves-effect waves-light btn" type="button" value="Search" ng-click="search()" />
          <input id="btnReset" class="waves-effect waves-light btn" type="button" value="Reset" ng-click="resetForm()" />
        </div>
      </div>
      <div class="divider"></div>
      <br>
      <div class="row">
        <div class="col s12">
          <table class="responsive-table bordered" data-ng-if="searchResult.length > 0">
            <tr class="teal-text grey lighten-3">
              <th ng-repeat="columnName in tableHeaders track by $index">{{columnName}}</th>
            </tr>
            <tr ng-repeat="empComp in empCompData track by $index">
              <td><span class="dont-break-out" ng-model="empComp.emp_id"></span></td>
              <td><span class="dont-break-out" ng-model="empComp.emp_name"></span></td>
              <td><span class="dont-break-out" ng-model="empComp.emp_comp_level"></span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>