<!-- <div>
    <form action="fileupload" method="post" encType="multipart/form-data">
        <input type="file" name="filetoupload" />
        <br/>
        <input type="submit">
    </form>
</div> -->

<div class="container">
    <div class="row">
        <div class="col s8 m6 l6">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" accept=".xls,.xlsx,.ods" fileread="" opts="result" multiple="false">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload file">
                </div>
            </div>
        </div>
        <!-- <div class="input-field col s4 m6 l6">
            <a href="" class="icon-thunder-cloud">Download format <i class="material-icons">description</i></a>
        </div> -->
    </div>
    <div class="row">
        <div class="col s12">
            <input id="btnUpload" class="waves-effect waves-light btn" type="button" value="Upload" ng-click="uploadCompetencyData()" ng-show="result.data.length > 0" ng-disabled="!result.data.length > 0" />
        </div>
    </div>
</div>